<%- include('../includes/head.ejs') %>

    <title>Home</title>
</head>
<body>
        <%- include('../includes/navbarToken.ejs') %>
        <%- include('../includes/error.ejs') %>
        <main>
                <% if (pets.length > 0) { %>
                    <div class="container mt-3" style="text-align:center">
                        <div class="row">
                        <% for (let pet of pets) { %>                            
                            <div class="card small col-6 mb-2" style="display: inline-block ">
                                <img class="card-img-top mt-3" src="<%= pet.imageUrl %>"
                                alt="<%= pet.name %>" style="width:100%">
                                <div class="card-body">
                                  <h4 class="pet__name"><%= pet.pet_name %></h4>
                                  <p class="card-text"><%= pet.price %> $</p>
                                  <p class="card-text"><%= pet.pet_description %></p>
                                  <a href="/pets/edit-pet/<%= pet.rent_pet_id %>/token/<%=token%>" class="btn btn-primary">Editar</a>
                                  <a href="/pets/rent-pet/<%= pet.rent_pet_id %>/token/<%=token%>" class="btn btn-primary">Alquilar</a>
                                </div>
                              </div>
                        <% } %>
                    </div>
                    </div>
                <% } else { %>
                    <h1>No Pets Found!</h1>
                <% } %>
            </main>
    
</body>
</html>